$blue: #056ef0;
$black: #000000;
$white: #ffffff;
$gray: #f0f0f0;
$lightGreen: #9FD6AE;
$focusBorderBlue: #80bdff;
$searchBoxWidth: 100%;
$searchSuggestionHightLighted: #ddd;
$searchingResultHeight: 93vh;
$priceInputDisableBg: #ECEEEF;
$priceInputDisableBorder: #C9CBCB;
$stepProgressBorder: rgba(0, 0, 0, 0.25);
$stepProgressBoxShadow: #108ee9;
$stepProgressDefaultColor: #2fbf62;
$stepProgresStatusProcessColor: orange;
$stepProgressTitleColor: rgba(0, 0, 0, 0.43);
$stepProgressIailIColor: #e9e9e9;
$productViewBorder: #DDDDDD;
$productViewSubTitleBackground: #eb5b4c;
$searchResultMapBorder: #d3d7dc;
$searchResultMapBackground: #f4f5f9;
$searchResultActionBarColor: #00779a;
$searchResultBarBackgroundColor: #eaebf0;
$formErrorColor: #ff0000;
$dropzoneBorderColor: rgba(0, 0, 0, 0.3);
$locationTextColor: #A8A8A8;
$checkedColor: #52be7f;
$checkboxBorder: #e7e8e7;
$zIndexDropdown: 1000;
$newsTitleColor: rgba(63, 63, 63, 1);
$newsShortDescColor: rgba(98, 98, 98, 1);
$viewDetailLinkColor: rgba(98, 98, 98, 1);
$seoActiveTabColor: #ff0000;
$viewAllbuttonColor: #ed1c24;
$viewAllbuttonHoverColor: #464646;
$landingPageListingTitleColor: #353535;
$landingPageListingAddressColor: #606060;
$landingPageListingPriceColor: #ed1c24;
$landingPageTabTitleColor: #6a6a6a;
$landingPageHLItemBoxShadowColor: rgba(55, 75, 87, 0.2);
$landingPageHLItemImageBoxShadowColor: rgba(55, 75, 87, 0.54);
$boxshadownWelcome: rgba(45, 45, 45, 0.5);
$colorWelcome: #464646;
$footerLinkTextColor: #b9b9b9;
$footerCopyrightTextColor: #bcbcbc;
$footerBgColor: rgba(31,31,31,1);
$newsLastestShadowColor: rgba(61, 61, 61, .35);
$postListingColor: #ed1c24;
